.typewriter {
    font-size: 1.5rem;
    color: #1a237e; /* celeste oscuro */
    margin-bottom: 1rem;
    font-family: inherit;
    white-space: pre;
    border-right: 2px solid #1a237e;
    animation: blink-cursor 0.8s steps(1) infinite;
}

.typewriter-container {
    display: inline-block;
    min-width: 100ch; /* Ajusta el valor según el texto más largo */
    white-space: nowrap;
}