.sidebar {
    background: #048eb9;
    width: 220px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 0;
    box-shadow: 4px 0 16px rgba(0, 0, 0, 0.15);
}


.sidebar-section {
    margin: 16px 0;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    transition: background 0.2s;
    border-radius: 8px;
    padding: 8px 24px;
}

.sidebar-section:hover {
    background: rgb(255, 167, 0);
}

.sidebar-logo {
    display: block;
    width: 80%;
    max-width: 180px;
    margin: 32px auto 24px auto;
    height: auto;
    object-fit: contain;
}

html {
    scroll-behavior: smooth;
}